@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
:root {
    --tabel-border: 1px solid grey;
    --text-color: rgb(228, 228, 228);
    --white-text: rgb(247, 247, 247);
    --second-bg: rgb(32, 33, 41);
    --bg-color: rgb(68, 67, 67);
   }
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f6f6f6;
}
body::-webkit-scrollbar{
    display: none;
}

a {
 text-decoration: none;
}
#defaultLayout {
    display: block;
}
#guestlayout{
    display: block;
    overflow: hidden;
}
.guestnavber{
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
}
#defaultLayout aside {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}
.content{
    height: 100%;
    bottom: 30px;
    overflow: hidden;
    width: 100%;
    background-color: #151516;   
}
#defaultLayout header {
   overflow-x: hidden;
}


.search{
    align-items: center;
    width: 70%;
    margin: auto;
  margin-top: 40px;
  margin-left: 20%;
}
.search-icon{
    color: var(--text-color);
    font-size: 20px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
.search input{
    width: 450px;
    background-color: var(--second-bg);
    color: #808080;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 20px;
    padding-left: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;

}

.latest{
    padding: 30px 0;

}
.coat{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
   margin-top: -15px;
    scroll-behavior: smooth;
   
}
.coat::-webkit-scrollbar{
    display: none;
}
.text{
    font-size: 25px;
    margin-left: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    align-items: center;
    color: #f6f6f6;
}
.coat-content{
    max-height: 285px;
    width:  350px;
    background-color: var(--second-bg);
    margin: 20px 10px;
}
.coat-content .img img{
    max-height: 250px;
    max-width: 350px;
    border-radius: 5px 5px 0 0;
}
.text_container{

    margin-top: -20px;
    height: 60px;
    width: 100%;;
    border-radius: 0 0 5px 5px;
}
.text_details{
    display: flex;
    margin-left: 10px;
    margin-top: 10px
}
.text_details img{
    width: 35px;
    margin: 10px;
  
}
.text2{
    font-size: 15px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #f6f6f6;
    margin-top: 10px;
  
}
.coat-content h4{
    color: var(--text-color);
   margin-top: -20px;
    margin-left: 10px;
}
#defaultLayout main {
    padding: 2rem;
}

.layer{
    display: flex;
    margin: 20px;
    margin-top: 30px;
}
.layer .new_layer{
    display: block;
    width: 60%;
}
.new_layer p{
    color: wheat;
    margin: 10px;
    font-size: 20px;
}
.new_layer video{
    width: 90%;
    height: 250px;
    background-color: #000000;
}
.new_layer .my_layer{
 display: flex;
 padding-right: 40px;
 margin-top: 10px;
}
.my_layer img{
    width: 66%;
    border: none;
    height: 150px;
}
.new_layer2{
    margin: 30px;
    margin-top: 50px;
}
.new_layer2 p{
    color: rgb(209, 206, 200);
    font-size: 20px;
    display: block;
}
.about_details{
    margin-top: 30px;
}
.about_details .text_wifth{
    display: flex;
}
.new_layer2 hr{
    background-color: #808080;
    width: 90%;
    margin-right: 10%;

}

.about_details .text_wifth h5{
    color: rgb(209, 206, 200);
    font-size: 20px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.about_details .text_wifth p{
    color: rgb(209, 206, 200);
    font-size: 20px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.my_buton{
    margin-top: 20px;
    display: flex;
    padding: 10px;
}
.my_buton button{
 background-color: rgba(9, 9, 241, 0.332);
 outline: none;
 border: none;
 margin: 10px;
 border-radius: 5px;
 height: 32px;
 width: 130px;
}
.my_buton button:last-child{
    background-color: rgba(68, 3, 117, 0.756);
}
.user_layer{
    margin: 20px 0;
    margin-top: 40px;
    display: flex;
}
.user_layer .side_section{
    width: 60%;
}
.user_layer .side_section img{
    width: 95%;
    max-width: 600px;
}
.side_section .details{
    margin: 10px 0;
    margin-top: 20px;
    display: flex;
}
.side_section .details img{
   width: 40px;
   margin-left: 20px;
  margin-top: -10px;
}
.side_section h4{
    color: var(--text-color);
}
.side_section .details p{
   font-size: 15px;
   color: var(--text-color);
}
.side_section .thebutton{
    padding: 10px;
    display: flex;
}
.side_section .thebutton button{
   background-color: transparent;
   color: var(--text-color);
   border: 1px solid gold;
   outline: none;
   padding: 7px;

}
.side_section .thebutton button:hover{
    background-color: #808080;
    padding: 10px;
}
.side_section .thebutton button:last-child{
 margin-left: 10px;
}
.left_section{
    margin-left: 40px;
}
.left_section table{
    max-width: 500px;
}
.left_section table,.left_section th, .left_section td{
    color: var(--text-color);
    border-collapse: collapse;
    font-size: 15px;
    border: 1px solid var(--text-color);
    font-weight: 400;

}
.left_section td{
   padding: 20px;
   letter-spacing: 2px;
   
}
.user_layer2{
    margin-top: 40px;
}
.user_layer2 table{
    width: 100%;
    align-items: center;
    margin: auto;
    border: var(--tabel-border);
    overflow-x: scroll;
    max-width: 1300px;
}

.user_layer2 table,.user_layer2 th{
    color: var(--text-color);
    border-collapse: collapse;
    font-size: 15px;
    padding: 20px;
    border: 1px solid var(--text-color);
    font-weight: 400;
}
.user_layer2 img{
    width: 95%;
    height: 300px;
    margin: 0 10px;
  }
/*GuestLayOut*/
.content2{
 width: 100%;
 height: 100%;
 margin-top: 50px;
 position: fixed;
 background-color: #323030;
}
.content2 .first_layer{
    display: flex;
    width: 100%;
    margin: 0;
    height: 35%;
    padding: 0;
   
}
.content2 .first_layer .first_content{
    background-position: center;
    background-size: cover;
    background-image: url(./images/asssis.svg);
    height: 200px;
    width: 70%;

}
.content2 .first_layer .second_content{
    background-position: center;
    background-size: cover;
    margin-left: -16%;
    background-image: url(./images/zoooonnn.svg);
    height: 200px;
    width: 100%;
    
}
.content2 .first_layer .third_content{
    background-position: center;
    background-size: cover;
    margin-left: -8%;
    background-image: url(./images/rrr.svg);
    height: 200px;
    width: 100%;
    
}
.content2 .second_layer {
    display: flex;
    width: 100%;
    height: 35%;
}
.content2 .second_layer .first_content{
    background-position: center;
    background-size: cover;
    background-image: url(./images/Thanos.svg);
    height: 200px;
    width: 100%;
    
}
.content2 .second_layer .second_content{
    background-position: center;
    background-size: cover;
    margin-left: -10%;
    background-image: url(./images/bbbq.svg);
    height: 200px;
    width: 100%;
    
}
.content2 .second_layer .third_content{
    background-position: center;
    background-size: cover;
    margin-left: -7%;
    background-image: url(./images/bgg.svg);
    height: 200px;
    width: 100%;
    
}
.content2 .third_layer{
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../scr/images/footer.svg);
}

/* contain-show */
.contain-show{
    position: fixed;
    
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.contain-show .content5{
    display: block;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
}
.contain-show .content5 .container-detail{
     width:70%;
     margin-top: 60px;
     margin: auto;
     height: 100%;
}
.contain-show .content5 .container-detail img{
    padding-top: 20%;
    width:400px;

    display: block;
    margin: 40px;
}
.contain-show .content5 button{
    width: 160px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    display: flex;
    margin: 40px;
}

.contain-show .content5 .text p{
    
    text-transform: capitalize;
    font-size: 16px;
}
.contain-show .content5 .text{
    padding-top:15%;
}
/*  Login section */
.login-section{
    width: 100%;
    margin-top: 50px;
    display: flex;
    height: 100%;
}
.login-section .icon{
 margin: auto;
 align-items: center;
 width: 50%;
 
}
.login-section .icon img{
    width: 100%;
    margin: auto;
    align-items: center;
}
.login{
    float: right;
    width: 50%;
    
}

.my_login{
    overflow-y: scroll;
    min-width: 300px;
    float: right;
    max-width: 450px;
    max-width:400px;
    align-items: center;
    display: block;
    height: 100%;
    min-height: 400px;
    background-color: var(--bg-color);
}
.my_login::-webkit-scrollbar{
    display: none;
}
.my_login .log-content{
   width: 90%;
   margin: auto;
}
.my_login h1{
 color: var(--white-text);
 font-size: 35px;
 align-items: center;
 padding: 20px;
 margin-left: 10%;
 font-family: sans-serif;

 text-transform: uppercase;

}
.my_login .login_details{
    display: block;
    width: 100%;
    margin: 20px;
    margin-left: 10%;
}
.login_details .login_detail{
   display: block;
}
.login_detail label{
    font: 15px;
    color: var(--text-color);
}
.login_detail input{
    background-color: rgb(86, 85, 85);
    margin: 10px 0;
    outline: none;
    border: none;
    width: 80%;
    display: block;
    padding: 10px;
    color: white;
    font-size: 15px;
    height: 35px;

}
.login_details button{
    display: block;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 40px;
    color: var(--white-text);
    background-color: rgba(108, 43, 174, 0.288);
    border: 1px solid rgb(22, 4, 132);

}
.login_details a{
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px ;
   margin-left: 10%;
}
.login_details .details{
    
    margin: 20px;
    margin-left: 5%;
    
}
.login_details .details p{
    width: 70%;
    color: var(--text-color);
    display: inline-block;
    font-weight: 200;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.login_details .details a{
    display: block;
    margin: auto;
    margin-left: 30%;
}
.login_details .more-details{
    margin: 20px;
}
.login_details .more-details button{
 background-color: transparent;
 border: 1px solid var(--text-color);
 border-radius: 4px;
}
.login_details .more-details p{
 color: var(--white-text);
}
.page404{
    margin-top: 30%;
}
.page404 h1{
    margin-top: -10%;
    color: var(--text-color);
}